/*  font-family: "Rubik", sans-serif;
  font-family: "Josefin Sans", sans-serif;
*/

/* !-------------------[1]-Basic-Styling-[1]-------------------! */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Rubik:wght@300..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;
}

:root {
  --navbar-bg-color--: #222222;
  --navbar-txt-light--: #eee;
  --hero-tranparent-bg--: rgba(0, 0, 0, 0.668);
  --text-light--: #eee;
  --text-golden--: #c49b66;
  --btn-golden--: #c49b66;
  --btn-light--: #eee;
  --section-bg-dark-1--: #161617;
  --section-bg-dark-2--: #0f0f0f;
  --nav-item-hover--: #c49b66;
  --hero-btn-hover--: #c49b66;
}

.common-sec-main {
  width: 100%;
  position: relative;
}

/* !-------------------[2]-NavBar-Start-[2]-------------------! */

.header-main {
  font-family: "Josefin Sans", sans-serif;
  position: sticky;
  z-index: 999;
  top: 0;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;
}

.navbar-color {
  background: var(--navbar-bg-color--);
}

.navbar-logo {
  color: var(--navbar-txt-light--);
  font-weight: bold;
  text-decoration: none;
  font-size: 23px;
}

.navbar-toggler{
  border: none;
}

.bi-justify-left{
  color: #eee;
  font-size: 28px;
}

.navbar-toggler:hover .bi-justify-left{
  color: #c49b66;
}

.navbar-nav .nav-item {
  padding: 0 8px;
}

.navbar-nav .nav-item .nav-link {
  color: var(--navbar-txt-light--);
  font-weight: 500;
  font-size: 16px;
}

/* !-------------------[3]-Hero-Section-Start-[3]------------------! */

.hero-bg-img {
  height: 100vh;
  width: 100%;
  background: url('Images/hero-img.png') center center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

.hero-sec-main {
  height: 100vh;
  background: var(--hero-tranparent-bg--);
  color: var(--text-light--);
}

.hero-sec-content .container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-sec-content .container .row {
  margin: 0 auto;
}

.hero-sec-content .container .row h2 {
  font-size: 70px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 4.5px;
}

.hero-sec-content .container .row h3 {
  font-size: 60px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  letter-spacing: 4.5px;
  word-spacing: 5px;
}

.typewrite {
  color: #c49b66;
}

.hero-btn {
  padding: 10px 28px;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  font-size: smaller;
  margin: 15px 12px;
  position: relative;
  display: inline-block;
  transition: .4s;
  overflow: hidden;
}

.hero-btn::before {
  content: "";
  background: var(--hero-btn-hover--);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.4s;
  z-index: 1;
  opacity: 0.5;
  height: 100%;
  color: #eee;
}

.hero-btn::after {
  content: "";
  background: var(--hero-btn-hover--);
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.4s;
  z-index: 1;
  opacity: 1;
  height: 100%;
  color: #eee;
  transition-delay: .2s;
}

.hero-btn:hover::before {
  width: 100%;
}

.hero-btn:hover::after {
  width: 100%;
}

.hero-btn:hover {
  border: 1.5px solid var(--hero-btn-hover--);
}

.hero-btn span {
  position: relative;
  z-index: 5;
}

.hero-btn1 {
  background: transparent;
  border: 1.5px solid var(--btn-light--);
  color: var(--btn-light--);
}

.hero-btn2 {
  background: var(--btn-light--);
  border: 1.5px solid var(--btn-light--);
  color: var(--btn-golden--);
}

.hero-btn2:hover {
  color: #eee;
  transition: .2s ease;
}

/* !-------------------[4]-About-Section-Start-[4]------------------! */

.about-main {
  height: 100vh;
  background: var(--section-bg-dark-1--);
}












/* !-------------------[]-Media-Queries-[]------------------! */

@media screen and (min-width:998px) {

  .nav-item .nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background: var(--nav-item-hover--);
    transition: .3s ease;
  }

  .nav-item:hover .nav-link::after {
    width: 110%;
  }

}

@media screen and (max-width:998px) {

  .nav-item:hover .nav-link {
    color: var(--nav-item-hover--);
  }

  .hero-sec-content .container .row h3{
    font-size: 50px;
  }

}

@media screen and (max-width:790px) {

  .hero-sec-content .container .row h3{
    font-size: 40px;
  }

  .hero-sec-content .container .row h2{
    font-size: 52px;
  }

}

@media screen and (max-width:650px) {

  .hero-sec-content .container .row h3{
    font-size: 30px;
  }

  .hero-sec-content .container .row h2{
    font-size: 38px;
  }

}

@media screen and (max-width:450px) {

  .hero-sec-content .container .row h3{
    font-size: 19px;
  }

}

@media screen and (max-width:350px) {

  .hero-sec-content .container .row h3{
    font-size: 17px;
  }

  .hero-sec-content .container .row h2{
    font-size: 25px;
  }

}
